<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>

    <main>
      <%- include('../layout/header') %>

      <section>
        <a href="/house_name/characters">
          <img src="gryffindor.png" alt="" />
          <p>gryffindor</p>
        </a>
      </section>

      <section>
        <a href="/house_name/characters">
          <img src="hufflepuff.png" alt="" />
          <p>hufflepuff</p>
        </a>
      </section>

      <section>
        <a href="/house_name/characters">
          <img src="ravenclaw.png" alt="" />
          <p>ravenclaw</p>
        </a>
      </section>

      <section>
        <a href="/house_name/characters">
          <img src="slytherin.png" alt="" />
          <p>slytherin</p>
        </a>
      </section>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>
